---
title: Readme
description: This page was generated from the project's readme using the {{md}} helper
---

<!-- Header -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="{{title}}">{{title}}  {{> popover popover.anchors }}</h1>
  </div>
  <blockquote>
    <p class="lead">{{description}}</p>
  </blockquote>
</div>

{{br 5}}

<hr>

{{md 'README.md'}}